.editable-section {
  display: flex;
  flex-wrap: wrap; /* The weather cards were scrolling off the screen to the right, so I made them wrap */
  border-radius: 15px;
  background-color: skyblue;
}

.editable-section .inputWrapper {
  flex: 1;
  padding: 20px;
}